.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;
    transform-style: preserve-3d;
    width: 100%;
}


button {
    font-size: 20px;
    color: rgb(79,79,79);
    background-color: rgba(110, 110, 110,0.60);
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgba(110, 110, 110, 0.75);
    color: rgb(39, 39, 39);
    cursor: pointer;
}

.container {
    padding: 2px 16px 16px 16px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
}

/* Shrink the font below a certain width threshold, but we don't let it depend on size
    since we don't want it to be unreadable at certain sizes.*/
@media only screen and (max-width: 600px){
    .container, button{
        font-size: 10px;
    }
}

/* At very large sizes, the content of the cards should scale to fit, like the header and footer in Layout.*/
@media only screen and (min-width: 2000px){
    .container, button {
        font-size: 1.5vw;
    }
    .container{
        padding: 4px 32px 32px 32px;
    }
}
